/*clases globales*/
input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 5px;
    border: solid 1px var(--celeste);
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
}

/*variables*/
:root {
    --celeste: rgb(225, 254, 255);
    --gris-oscuro : rgb(202, 202, 202);
    --negro: rgb(16, 16, 16);
}

/*otras clases*/

/*LOGIN*/

.container.login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.loginCnt{
    width: 100%;
    max-width: 400px;
    background-color: var(--celeste);
    border: solid 1px rgb(190, 254, 255);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 6px 8px 11px -6px rgba(0,0,0,0.79);
-webkit-box-shadow: 6px 8px 11px -6px rgba(0,0,0,0.79);
-moz-box-shadow: 6px 8px 11px -6px rgba(0,0,0,0.79);
}

.loginCnt .input{
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 0 10px;
    justify-content: space-between;
}

.input input[type="button"]{
    cursor: pointer;
}