/*clases globales*/
input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 5px;
    border: solid 1px var(--celeste);
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
}

/*variables*/
:root {
    --celeste: rgb(225, 254, 255);
    --gris-oscuro : rgb(202, 202, 202);
    --negro: rgb(16, 16, 16);
}

/*otras clases*/