
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- Estilos propios -->
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/styleContacto.css" />
  <title>Contacto</title>
</head>


<body>

<section class="contact-info">
  <h1>Contactanos!</h1>

  <div class="contactinfo-details">
    <h2>Veterinaria Huellas</h2>
    <p>Tu veterinaria de confianza</p>

    <hr class="divider">

    <p><strong>Teléfonos de contacto:</strong></p>
    <ul class="contact-list">
      <li><span class="icon">📞</span>099 123 456</li>
      <li><span class="icon">☎️</span>2709 1234</li>
    </ul>

    <hr class="divider">

    <p><strong>Redes Sociales:</strong></p>
    <ul class="contact-list">
      <li>
        <span class="icon">📸</span>
        Instagram:
        <a href="https://instagram.com/VeterinariaHuellas">@VeterinariaHuellas</a>
      </li>
      <li>
        <span class="icon">📘</span>
        Facebook:
        <a href="https://facebook.com/VeterinariaHuellas">Veterinaria Huellas</a>
      </li>
    </ul>

    <hr class="divider">

    <p><strong>Dirección:</strong></p>
    <p class="direccion">
      <span class="icon">📍</span>18 de Julio 2342
    </p>

    <p><strong>Horario de atención:</strong></p>
    <p>Lunes a Viernes de 9:00 a 18:00</p>
  </div>
</section>

<section class="map-section">
    <h2>¿Dónde estamos?</h2>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.3435106236266!2d-56.167742724444864!3d-34.897828072850224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81acb2014a83%3A0x88e236c465a22318!2sAv.%2018%20de%20Julio%202342%2C%2011200%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1770653892091!5m2!1ses-419!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

</body>

