<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- Estilos propios -->
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/styleServicios.css" />
  <link rel="stylesheet" href="/styleGaleria.css" />
  <link rel="stylesheet" href="/styleInicio.css" />

  <title>Galería</title>
</head>

<div id="header"></div>

<section class="Galeria">
  
  <div class="galeria-intro">
    <h1>Algunos de nuestros servicios y visitantes</h1>
    <p>Momentos de nuestro trabajo diario en estética y atención veterinaria, cuidando a cada mascota como si fuera parte de nuestra familia.</p>
  </div>

  <div class="row">

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Corte.webp" alt="Corte de pelo imagen 1" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Corte2.webp" alt="Corte de pelo imagen 2" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Dog Wash.webp" alt="Baño" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Mimos a gato.webp" alt="Atención veterinaria" class="galeria-img">
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Vet en accion.webp" alt="Veterinaria en acción" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Estetica.webp" alt="Estética" class="galeria-img">
    </div>

     <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Atencion con cliente.webp" alt="Atención veterinaria" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Gatito vet.webp" alt="Gatito" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Secado.webp" alt="Secado" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Trabajo1.webp" alt="Veterinaria en acción" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Foto principal.webp" alt="Atención veterinaria" class="galeria-img">
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <img src="/src/images/Trabajo 2.webp" alt="Veterinaria en acción" class="galeria-img">
    </div>


    <article class="galeria-info">
        <h2>Atención personalizada</h2>
        <p>
        Nuestro equipo de asesores especializados, con amplia experiencia y dedicación al servicio, garantiza excelencia en la atención.
        </p>
    </article>

  </div>
</section>

<script src="/src/app.js"></script>