<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/listadoAgendas.css" />

    <title>Listado Agenda</title>
    <link rel="stylesheet" href="/listadoAgendas.css">
</head>


<body id="ListaReservas">

    <div id="header"></div>

    <main>
        <h2>Listado de agenda</h2>

        <input type="button" id="btnCerrarSesion" value="Cerrar sesion">

        <table id="tablaListaReservas" class="tabla"></table>
        
        <div id="contenedorCards"></div>
        
        <p id="txtMensajeListaReservas"></p>
    </main>

    <div id="footer"></div>

    <script src="/src/core/listarReservas.js"></script>
    <script src="/src/app.js"></script>
</body>

</html>