<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styleInicio.css" />

    <title>Listado Agenda</title>
    <link rel="stylesheet" href="/listadoAgendas.css">
</head>
<body>
    <div id="header"></div>
    <h2>Listado de agenda</h2>

    <table id="tablaListaReservas" class="tabla">

    </table>
    <p id="txtMensajeListaReservas"></p>
    <script src="/src/core/listarReservas.js"></script>
    <script src="/src/app.js"></script>
</body>
</html>