<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- Estilos propios -->
  <link rel="stylesheet" href="/styleProfesionales.css" />
  <link rel="stylesheet" href="/styleInicio.css" />
  <title>Equipo de profesionales</title>
</head>

<body>
  <div id="header"></div>

  <div class="container">
    <h1>Te presentamos el equipo detrás de nuestro servicios</h1>
    <div class="row g-4 justify-content-center">
      <div class="col-10 col-md-4">
        <article class="prof-card">
          <div class="prof-img juana">
            <img src="/src/images/Juana.jpg" alt="Foto de Juana">
          </div>
          <h3>Juana Alvárez</h3>
          <p>Encargada de atender las consultas</p>
        </article>
      </div>

      <div class="col-10 col-md-4">
        <article class="prof-card">
          <div class="prof-img pedro">
            <img src="/src/images/Pedro.jpg" alt="Foto de Pedro">
          </div>
          <h3>Pedro Acosta</h3>
          <p>Encargado de brindarle el mejor baño a tu mascota</p>
        </article>
      </div>

      <div class="col-10 col-md-4">
        <article class="prof-card">
          <div class="prof-img sofia">
            <img src="/src/images/Sofia.webp" alt="Foto de Sofia">
          </div>
          <h3>Sofia Pérez</h3>
          <p>Encargada de ofrecer el mejor arreglo estético para tu mascota</p>
        </article>
      </div>
    </div>
  </div>

  <script src="/src/app.js"></script>
</body>

</html>